
<nav class="navbar navbar-expand navbar-dark bg-primary">
    <a class="sidebar-toggle mr-3" href="#"><i class="fa fa-bars"></i></a>
    <a class="navbar-brand" href="{% url 'dashboard' %}">Hospital Management System </a>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
  
            <li class="nav-item dropdown">
                <a href="#" id="dd_user" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ user.username }}</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd_user">
                    
                    <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="d-flex">
    <div class="sidebar sidebar-dark bg-dark">
        <ul class="list-unstyled">
           
            <li>
                <a href="#sm_expand_0" data-toggle="collapse">
                    <i class="fas fa-certificate"></i> Degrees
                </a>
                <ul id="sm_expand_0" class="list-unstyled collapse">
                    <li><a href="{% url 'degreelist' %}">All Degree List</a></li>
                    <li><a href="{% url 'degree_create'%}"> Add New Degree</a></li>
                </ul>
            </li>

            <li>
                <a href="#sm_expand_1" data-toggle="collapse">
                    <i class="fa fa-user"></i> Users 
                </a>
                <ul id="sm_expand_1" class="list-unstyled collapse">
                    <li><a href="{% url 'userlist' %}">User List</a></li>
                    <li><a href="{% url 'user_create'%}"> Add New User</a></li>
                </ul>
            </li>

            <li>
                <a href="#sm_expand_2" data-toggle="collapse">
                    <i class="fas fa-user-md"></i> Doctors 
                </a>
                <ul id="sm_expand_2" class="list-unstyled collapse">
                    <li><a href="{% url 'doctorlist' %}">Doctor`s List</a></li>
                    <li><a href="{% url 'doctor_create' %}"> Add New Doctor</a></li>
                </ul>
            </li>
            <li>
                <a href="#sm_expand_3" data-toggle="collapse">
                    <i class="far fa-plus-square"></i> Patients
                </a>
                <ul id="sm_expand_3" class="list-unstyled collapse">
                    <li><a href="{% url 'patient_list' %}">Patient`s List</a></li>
                    <li><a href="{% url 'create_patient' %}"> Add New Patient</a></li>
                </ul>
            </li>
            <li>
                <a href="#sm_expand_4" data-toggle="collapse">
                    <i class="fas fa-users"></i> Employee
                </a>
                <ul id="sm_expand_4" class="list-unstyled collapse">
                    <li><a href="#">Employee List</a></li>
                    <li><a href="{% url 'create'%}"> Add New Employee</a></li>
                </ul>
            </li>

        </ul>
    </div>
