{% extends 'base/dashboard_base.html' %}

{% block title %} Degree Lists {% endblock %}
{% block custom_css %}
    h2{
        text-align:center;
    }
   button  a{
        tex-decoration:none;
        color:white;
    }
    button a:hover{
        color:white;
    }
{% endblock %}

{% block body %}
<div class="container ">
<div class="row ">
	<div class="col-md-10 mx-auto">

        <div class="row">
            <div class="col">
                <h2 > Degree List </h2>
            </div>

            <div class="col col-lg-2">
                <button type="button" class="btn btn-primary btn-sm"><a href="{% url 'degree_create' %}"> Add Degree </a> </button>
            </div>
          </div>
        

<table class="table table-striped">
    {% for d in degree %}
    <tr>
        <td> </td>
        <td><strong>{{ d }}</strong> </td>
        <td><a href="{% url 'edit_degree' d.id %}"> <i class="fas fa-edit"></i> Edit</a>  </td>
        <td> <a href="{% url 'delete_degree' d.id %}"><i  class="fas fa-trash-alt"></i> Delete</a></td>
    </tr>
    {% empty %}
    <h2> Sorry No degree to show </h2>
    {% endfor %}
 
    </table>

</div>
</div>
</div>
  
{% endblock %}